<div class="container" *ngIf="activityData&&fundArr">
  <div class="title">
    <p class="h2">{{activityData.name}}</p>
  </div>
  <div class="row ">
    <div class="col-md-7 contentWrap" ><p [innerHTML]="content"></p>
      <img src="{{apiBase+'/static/activity/'+activityData.cover}}" class="img-fluid" alt="">
    </div>
    <div class="col-md-5 contentWrap fundingTable">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" i18n="众筹人名字">Name</th>
            <th scope="col" i18n="众筹金额">Amount</th>
          </tr>
        </thead>
        <tbody class="fundingDisplay">
          <tr *ngFor="let fund of fundArr">
            <td>{{fund.name}}</td>
            <td>{{fund.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-spinner *ngIf="!fundArr&&!activityData"></app-spinner>
