<div class="container" *ngIf="workArr&&activityArr">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#work">作品列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#activity">活动列表</a>
    </li>
    <li class="nav-item">
      <a href="#funding" data-toggle="tab" class="nav-link">众筹列表</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="work" class="container tab-pane active"><br>
      <a routerLink="/admin/work" class="btn btn-primary">添加新作品</a>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">名称</th>
          <th scope="col">简介</th>
          <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let work of workArr">
          <th scope="row">{{work._id}}</th>
          <td><a routerLink="/work/detail/{{work._id}}">{{work.name}}</a></td>
          <td>{{work.summary}}</td>
          <td><a id="delete-work-{{work._id}}" style="color: red" (click)="deleteWork(work._id)">删除</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="activity" class="container tab-pane fade"><br>
      <a routerLink="/admin/activity" class="btn btn-primary">添加新活动</a>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">名称</th>
          <th scope="col">简介</th>
          <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let activity of activityArr">
          <th scope="row">{{activity._id}}</th>
          <td><a routerLink="/activity/detail/{{activity._id}}">{{activity.name}}</a></td>
          <td>{{activity.summary}}</td>
          <td><a id="delete-activity-{{activity._id}}" style="color: red" (click)="deleteActivity(activity._id)">删除</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="container tab-pane fade" id="funding">
      <app-funding-management></app-funding-management>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
