.navbar{
  background: url("/assets/img/navbar.jpg") no-repeat fixed;
  background-size: 100%;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .navbar{
    background: transparent none;
  }
  .navbar.scroll {
    background-color: rgba(255,255,255,0.7);
  }
  .navbar{
    font-size: xx-large;
  }
}
@media screen and (max-width: 992px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

}

.navbar-logo{
  height: auto;
  width: 55px;
}

