<nav class="navbar navbar-light navbar-toggleable-md  navbar-expand-lg py-0">
  <a class="navbar-brand" routerLink="/"><img src="/assets/img/starsea.png" class="navbar-logo" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-inner" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/work" i18n="作品">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/activity" i18n="活动">Activity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" i18n="关于我们">About Us</a>
      </li>
    </ul>
  </div>
</nav>
