.navbar{
  background: url("/assets/img/navbar.jpg") no-repeat fixed;
  background-size: 100%;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .navbar{
     background: none;
  }

}

.navbar-logo{
  height: auto;
  width: 50px;
}
