<footer class="footer">
  <div class="container">
    <span class="text-center text-dark" i18n>&copy;2018-2019 StarrySea</span>
    <div class="dropdown" style="display: inline-block">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="selectLang('en-US')">English</a>
        <a class="dropdown-item" (click)="selectLang('zh-CN')">简体中文</a>
        <a class="dropdown-item" (click)="selectLang('ja-JP')">日本語</a>
      </div>
    </div>
  </div>
</footer>
