<div class="container">
  <h1 class="text-center introh1 h1">About Us</h1>
  <br>
  <br>
  <p class="text-left intro" i18n>
    “Is the mic working? Check,1,2,OK.”</p>
  <p class="text-left intro" i18n>
    Hello everyone, we are Starry Sea Volunteers Association, dedicated to delivering the best of Love Live Sunshine
    Aqours events related support association in China!
    <br>
    Aim to be the "Tenth Person" of Aqours, we gather our own tiny strength together, made callbooks, leaflet, badges
    other souvenirs for Aqours events in China several times, trying hard to pass on the warmth of school idols, and
    leave a warm and precious memory for everyone who loves school idols!
  </p>
  <p class="text-left intro"  i18n>
    From the predecessor of the organization μ’S Final LoveLive Callbook and all the way to today, we made include but
    not limited to Aqours' 1st and 2nd Callbook and BML-SP's leaflets and other related commemorative badges, and we
    still committed to providing with more beautiful, more diverse souvenirs!</p>
  <p class="text-left intro"  i18n>
    The cost of making a souvenir comes from the crowdfunding of the members, we keep a record of all the detailed
    expenses.Leave footprint of the stories you created with us!We Believe, with the joint efforts of everyone, we can
    definitely create "The new story that everyone accomplishes together"!
  </p>
  <blockquote class="blockquote">
    <p>それは階段　それとも扉</p>
    <p>夢のかたちは色々あるんだろう</p>
    <p>そして繋がれ　みんな繋がれ</p>
    <p style="color: #f69163">夜空を照らしにいこう！</p>
    <footer class="blockquote-footer">Aqours<cite title="Source Title">夢で夜空を照らしたい</cite></footer>
  </blockquote>
  <div class="row" id="sysInfo">
    <div class="col-md-6 col-sm-12">
      <p class="h5">Latest System Releases: <span class="badge badge-success">{{Version}}</span></p>
      <div style="display: inline">
        <p style="display: inline">Front-End: <span class="badge badge-success">v1.1.1</span></p>
        <p style="display: inline">Back-End: <span class="badge badge-success">v1.1.1</span></p>
        <p>Latest Commit: <span class="badge badge-info">{{commit}}</span></p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 qBox">
      <p class="h3"  i18n >Any Questions?</p>
      <button class="btn btn-info" routerLink="/about/question" i18n>Question Box</button>
    </div>
  </div>
</div>
