<div class="container">
  <h1 class="text-center introh1 h1">关于我们</h1>
  <br>
  <br>
  <p class="text-left intro">
    “麦克风还正常吗？Check,1,2,OK.”</p>
  <p class="text-left intro">
    大家好，我们是星之海志愿者公会，致力于为校园偶像在中国国内的Event应援、向各位传递LoveLove!Sunshine!!的魅力的组织！想要成为Aqours的【第十人】，我们凭借各自微小的力量聚集在了一起，为Aqours在国内的活动多次制作了CallBook，宣传折页，徽章等纪念品，力图将校园偶像带给我们的温暖传递下去，为热爱校园偶像的每一个人留下一份温暖而珍贵的回忆！</p>
  <p class="text-left intro">
    从组织前身的μ’S Final LoveLive Callbook制作组走来，我们制作了包括但不限于Aqours 的1st 与2nd
    的CallBook以及BML-SP的宣传折页和其他相应的纪念徽章在内的应援物，并且还在致力于为大家提供更精美，更多样的纪念品！</p>
  <p class="text-left intro">
    制作纪念品时的花销来自于成员们的众筹款，每一次的详细花销我们都记录在册，留下你与我们一同创造的故事的痕迹！我们相信，在大家共同的努力下，我们定能创造出【大家一起实现的崭新的故事】!<br>
  </p>
  <blockquote class="blockquote">
    <p>それは階段　それとも扉</p>
    <p>夢のかたちは色々あるんだろう</p>
    <p>そして繋がれ　みんな繋がれ</p>
    <p style="color: #f69163">夜空を照らしにいこう！</p>
    <footer class="blockquote-footer">Aqours<cite title="Source Title">夢で夜空を照らしたい</cite></footer>
  </blockquote>
</div>
