<div class="aq-bg">
  <img src="/assets/img/aqours.png" alt="" style="visibility: hidden;" class="img-fluid">
</div>
<div class="intro">
  <h1 class="lead  text-center title" i18n="首页heading">
    <small style="color:#fff">We Are</small> Starry Sea Volunteers Association
  </h1>
  <div style="width: 100%;height: 20vh;"></div>
  <h2 class="lead  text-center title2" i18n>Dedicated to delivering the best of LoveLive Sunshine<br>Aqours events related support</h2>
  <img src="/assets/img/TOW.png" class="img-fluid img-center" style="padding: 50px;" alt="">
  <p class="text-right about container" i18n>
    The main job of Starry Sea is to make and distribute
    <br>callbooks and other goods for Aqours' activities throughout China,
    <br>and provide volunteer service as much as possible at live events.<br>
    Aim for that "tenth person", strive to be the best!<br>
    <br>
    <br>
    <a routerLink="/about" class="btn btn-info btn-lg text-right" role="button">About us</a>
  </p>
</div>
